<div class="containerLanding animated fadeIn">
    <nav class="navbar navbar-light bg-danger" style="background-color: rgb(82, 100, 119) !important;">
        <a class="navbar-brand" href="#" style="color: white;">
          <img src="../../../assets/img/idea.svg" width="35" height="35" class="d-inline-block align-bottom" alt="">
          ToDo App
        </a>
    </nav>
    
    <div style="display: flex; align-items:  center; flex-direction: column;">
        <img src="../../../assets/img/banner30.png" width="40%" height="40%"> 
        <div class="containerBtn">
            <button type="button"
                routerLink="/register"
                class="btn btn-outline-dark btnBehavior btnAction"    
            >Register</button>
    
            <button type="button"
                routerLink="/login"
                class="btn btn-outline-dark btnBehavior btnAction"    
       
            >Login</button>
        </div>
    </div>

</div>